/* CSS style
 ----------------------------------------------------------------------------------------*/
body{ margin:0; padding:0; height:100%; margin-top:0px; margin-bottom:0px; height:'100%'; margin-left:0px; margin-right:0px; }
.button-login { min-width:10%; background-color:#F38A95;border:#F38A95; }
.button-login :hover{ background-color:#A41E2C;border:#A41E2C; }
.input-form-login { min-width:200px;width:93%; height:24px;}
.input-form-login{ min-width:200px;width:93%;height:24px; }
.title-form-login{ min-width:200px;color:#F38A95;font-size:14px;}
.ui-widget-title-welcome{ min-width:200px;font-size:18px; text-shadow: 1px 4px 1px #eeeddd;  margin-top:-20px;color:#F38A95; }
.modal-dialog{min-width:200px;width:400px; }